#main {
    padding-top: 25px;
}

/* this rule is very broad and might cause trouble */
#main > :first-child,
#main > :first-child :first-child {
    margin-top: 0;
}

div.source-links {
    float: right;
}

.m-3 {
    margin: 24px;
}

/*button.authentiq-button {*/
    /*font-family: inherit;*/
/*}*/

/*button.authentiq-button.white-theme {*/
    /*background-color: #fff;*/
/*}*/
