one_level_toc: true

This use case describes how to set up Authentiq as an alternative to two-step verification solutions like TOTP or Yubikey.

By following this guide you:

- Increase the security level of your users
- Create a better user experience compared to two-step verification.
- Avoid the development and product management effort of an in-house solution.

# Prerequisites

Please complete [Signing in without a password](passwordless-authentication.md) before this scenario.

Follow this guide if you are considering to add two-step verification to your website. There is no need to complete these steps if you are fine with the email-based security level offered by [Signing in without a password](passwordless-authentication.md).

*[email-based security level]: A level of security commonly found with websites, where the main account recovery mechanism is based on having access to the registered email address.

# How it works

# Recipe

## Change data model

## Add Sign in button

## ...

# Next steps

Congratulations! Your users can now use Authentiq instead of two-step verification (TOTP). See our [FAQ](../faq.md) for commonly asked questions. Also stay tuned for our upcoming Single Sign On features.

Have a question? [Get in touch](mailto:ask@authentiq.com)! Have a suggestion? Edit this page!

